<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template/layout/layout_user}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0,width=device-width" />

<title>사용자 등록</title>
</head>

<body>
<th:block layout:fragment="contents">

<div class="jumbotron bg-secondary">
		<div class="container">
			<h1 class="display-3">사용자 목록</h1>
		</div>
	</div>
<!-- 사용자리스트 테이블 -->
<div class="container mypaging">
	<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">번호</th>
			<th scope="col">성명</th>
			<th scope="col">생년월일</th>
			<th scope="col">사용자 ID</th>
			<th scope="col">연락처</th>
			<th scope="col">성별</th>
			<th scope="col">수정</th>
			<th scope="col">삭제</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user:${userList}">
			<td th:text="${user.idx}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.birthdate}"></td>
			<td th:text="${user.id}"></td>
			<td th:text="${user.phone}"></td>
			<td th:text="${user.gender}"></td>
			<td><button class="btn btn-outline-primary" th:onclick="@{|location.href='/user/userUpdate.do/${user.idx}'|}">수정</button></td>
			<td><button class="btn btn-outline-danger" th:onclick="@{|fnUserDelete(${user.idx});|}">삭제</button></td>			
		</tr>
	</tbody>
	</table>
	<hr>
		
<!-- 페이지네이션 -->
<ul class="pagination justify-content-center" th:if="${!userList.isEmpty()}">
	<th:block th:with="cPage=${userList.number+1}">
 	<!-- 이전페이지 -->
	<li class="page-item">
		<a class="page-link" th:href="@{|?page=${cPage-1}|}"
		 th:classappend="${userList.hasPrevious} ? '' : 'disabled'">&laquo;</a>
	</li>
	<!-- 페이지번호 -->
	<li class="page-item" th:each="page:${#numbers.sequence(1,userList.totalPages)}"
	th:if="${page>=cPage-3 and page<=cPage+3}"
	th:classappend="${page==cPage}?'active'">
	<a class="page-link" th:href="@{|?page=${page}|}" th:text="${page}"></a>
	
	</li>
	<!-- 다음페이지 -->
	<li class="page-item"> 
		<a class="page-link" th:href="@{|?page=${cPage+1}|}"
		th:classappend="${userList.hasNext} ? '' : 'disabled'">&raquo;</a>
	</li>
	</th:block>
	</ul>
</div>
	<!-- 버튼 -->
	<div class="container mb-5">
	<button class="btn btn-primary" th:onclick="@{|location.href='/user/userCreate.do'|}">사용자 등록</button>
	</div>
</th:block>
</body>
</html>