<!DOCTYPE html>
<html xmlns:th="http:///www.thmyeleaf.org"
      xmlns:layout="http://www.ultraq.nz.net/thymleaf/layout"
      layout:decorate="~{template/layout/layout_user}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0,width=device-width" />

<title>사용자 수정</title>
</head>
<body>
<!-- 타이틀 -->
<th:block layout:fragment="contents">
<div class="jumbotron bg-secondary">
	<div class="container">
		<h1 class="display-3">사용자 수정</h1>
	</div>
</div>
<!-- 사용자정보 수정폼 -->
<div class="container mb-5">
	<form th:object="${userUpdateDTO}" th:action="@{/user/userUpdate.do/{idx}(idx=*{idx})}" method="post">
		<div class="mb-3">
			<label for="inputId" class="form-label">아이디</label>
			<input type="text" class="form-control" name="id" th:value="*{id}" id="inputId">
		</div>
		<div class="mb-3">
			<label for="inputPw" class="form-label">현 비밀번호</label>
			<input type="password" class="form-control" name="pw" id="inputPW">
		</div>
		<div class="mb-3">
			<label for="inputPw" class="form-label">새 비밀번호</label>
			<input type="password" class="form-control" name="newPw" id="inputPW">
		</div>
		<div class="mb-3">
			<label for="inputPw" class="form-label">새 비밀번호 확인</label>
			<input type="password" class="form-control" name="newPwConfirm" id="inputPW">
		</div>
		<div class="mb-3">
			<label for="inputName" class="form-label">성명</label>
			<input type="text" class="form-control" name="name" th:value="*{name}" id="inputName">
		</div>
		<div class="mb-3">
			<label for="inputEmail" class="form-label">이메일</label>
			<input type="email" class="form-control" name="email" th:value="*{email}" id="inputEmail">
		</div>
		<div class="mb-3">
			<label for="inputPhone" class="form-label">전화번호</label>
			<input type="text" class="form-control" name="phone" th:value="*{phone}" id="inputPhone">
		</div>
		<div class="mb-3">
			<label for="inputBirthdate" class="form-label">생년월일</label>
			<input type="text" class="form-control" name="birthdate" th:value="*{birthdate}" id="inputBirthdate">
		</div>
		<div class="mb-3">
			<label for="inputGender" class="form-label">성별</label>
			<div class="form-check">
			<input type="radio" class="form-check-input" name="gender" id="inputGender1" value="남자">
			<label class="form-check-label" for="inputGender1">남자</label>
			</div>
			<div class="form-check">
			<input type="radio" class="form-check-input" name="gender" id="inputGender2" value="여자">
			<label class="form-check-label" for="inputGender1" >여자</label>
			</div>
		</div>
		<button type="button" class="btn btn-secondary" onclick="history.back();return false;">뒤로가기</button>&nbsp;&nbsp;
		<button type="submit" class="btn btn-primary">제출</button>
	</form>
</div>
</th:block>
</body>
</html>