<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.nz.net/thymeleaf/layout"
	  layout:decorate="~{template/layout/layout_facility}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0,width=device-width" />
<title>시설물 수정</title>
</head>
<body>
<th:block layout:fragment="contents">
<div class="jumbotron bg-secondary">
		<div class="container">
			<h1 class="display-3">시설물 정보수정</h1>
		</div>
	</div>
<!-- 시설물 수정 폼 -->
<div class="container mb-5">
	<form th:object="${facilityUpdateDTO}" th:action="@{/facility/update/{idx}(idx=*{idx})}" method="post">
		<div class="mb-3">
			<label for="inputName" class="form-label">시설물명</label>
			<input type="text" class="form-control" name="name" id="inputName" th:value="*{name}">
		</div>
		<div class="mb-3">
			<label for="inputPhone" class="form-label">시설물 전화번호</label>
			<input type="text" class="form-control" name="phone" id="inputPhone" th:value="*{phone}">
		</div>
		<div class="mb-3">
			<label for="inputAddress" class="form-label">시설물 주소</label>
			<textarea class="form-control" name="address" id="inputAddress" rows="1" th:text="*{address}"></textarea>
		</div>
		<div class="mb-3">
			<label for="inputContent" class="form-label">시설물 소개내용</label>
			<textarea class="form-control" name="content" id="inputContent" rows="3" th:text="*{content}"></textarea>
		</div>		
		<button type="submit" class="btn btn-primary">제출</button>
	</form>
</div>
</th:block>
</body>
</html>